body
{
	background-color:#9b0d0d;
}

.topnav
{
	font-size:x-small;
}

.printOnly
{
	display:none;
}

.checked_inner
{
	position:relative;
	top:-150px;
}

.checked_inner_big
{
	position:relative;
	top:-150px;
}

.checked
{
	z-index:1;
	position:relative;
	top:150px;
}

.card
{
	background-color:#ffffff;
	width:800px;
	padding: 5px;
}

.checked_div
{
	height:200px;
}

.checked_div_big
{
	height:300px;
}

.box_round 
{
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3+, Chrome */
          border-radius: 12px; /* Opera 10.5, IE 9 */
}
  
.box_shadow 
{
     -moz-box-shadow: 0px 0px 4px #000000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #000000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #000000; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000000'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000000')"; /* IE8 */
}

.button {
    border: 1px solid #000000;
    background: #9b0d0d;
	color: #FFFFFF;
}

.header
{
	margin-left: 20px;
}

.header span
{
	font-size:xx-large;
	color:#ffffff;
	/*position:absolute;
	top: 5px;*/
}

.card a
{
	color:#640000;
}
a
{
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
}

a:hover
{
	text-decoration:underline;
}
  